<div class="container top30 animated fadeIn">
  <div class="row">
    <div class="col-md-3">
      <label for="search">Search artist</label>
      <input [(ngModel)]="search" (keyup)="searchArtist()" type="text" id="search" placeholder="Search artist..." class="form-control">
    </div>
    <div class="col-md-9" *ngIf="search.length > 0">
      <h1 class="text-capitalize">{{ search }}</h1>
      <hr>
      <div class="row">
        <div *ngFor="let artist of artists" [routerLink]="['/artist', artist.id]" class="col-md-3 text-center pointer">
          <img [src]="artist.images | noimage" class="img-thumbnail">
          <a routerLinkActive="router-link-active" ><p>{{ artist.name }}</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
